* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  background: transparent;
  font-family: "Rubik", sans-serif;
  color: #fff;
  z-index: 0;
}

.input-team-form,
.main-heading,
.sub-heading,
.container,
.bg-color,
.section-team-form,
.fill--input,
.heading-secondary {
  background: transparent;
}
.main-heading {
  margin-top: 3rem;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  z-index: 0;
}

.sub-heading {
  margin: 0 auto;
  text-align: center;
 
  font-size: 1.4rem;
  font-weight: 500;
  /* letter-spacing: -0.5px; */
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  z-index: 0;
}

.container {
  max-width: 80rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  z-index: 10;
  gap: 2rem;
}

.bg-color {
  padding-bottom: 1.6rem;
  z-index: 0;
  border-radius: 1.1rem;
}

.section-team-form {
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
  background-color: rgb(27, 27, 27);
  /* margin: ; */
  padding: 0.8rem;
  width: 100%;
  border-radius: 9px;
  /* margin: 0 1.2rem 0 1.2rem; */

  /* margin-bottom: 0.4rem; */
}

.row-flex-center {
  display: flex;
  justify-content: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: left;
  justify-content: center;
  margin-bottom: 1.2rem;
}

.input-team-form,
.section-team,
.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.logo-image {
  background-color: transparent;
  width: 90vw;
  margin-bottom: 1.4rem;
}

.fill--input {
  display: block;
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  font-weight: 300;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.3px;
  border: none;
  border-bottom: 1.5px solid #2196f3;
  border-radius: 9px;
}

.fill--input:hover,
.fill--input:focus,
.select-where:hover,
.select-where:focus {
  outline: none;
}

input[type="email"]::placeholder,
input[type="text"]::placeholder,
input[type="number"]::placeholder {
  text-align: left;
}

/* SECTION TEAM */

.btn {
  border: none;
}

.wrap {
  margin: 2.4rem 0;
}

/* .dropdown--menu {
  width: max-content;
  height: 1.2rem;
} */

.select-where {
  display: block;
  margin: 0.8rem;
  padding: 1.2rem auto;
  font-size: 1.6rem;
  font-weight: 300;
  background-color: transparent;
  color: #fff;
  letter-spacing: 0.3px;
  border: none;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 1.5px solid #2196f3;
}

.select-where-option {
  background: transparent;
  color: #000;
}
